/* UTILITIES */
.text-primary
{
    color: #28a745;
}
.text-secondary
{
    color: #0284d0;
}
.btn
{
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
}
.btn:hover
{
    opacity: 0.9;
}
.btn-primary , .bg-primary
{
    background: #28a745;
    color: white;
}
.btn-secondary , .bg-secondary
{
    background: #0284d0;
    color: white;
}
.btn-light , .bg-light
{
    background: #f4f4f4;
    color:#333;
}
.btn-dark , .bg-dark
{
    background: #333;
}



/*Flex Utilite*/
.flex-items
{
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
}
.flex-items > div
{
    padding: 20px;
}